.aims {
    display: flex;
    flex-direction: column;
    list-style: none;
    min-height: 595px;
    justify-content: space-evenly;
    align-items: center;
    padding: 0px 20px;
    margin: 0;
}

.aims__item {
    // display: block;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    background-color: @var-lightgrey;
    width: 100%;
    min-height: 266px;
    box-sizing: border-box;
    padding: 20px;
}

.aims__item-title {
    color: @var-black;
    font-size: 24px;
    line-height: 0px;
    font-weight: 400;
    color: @var-black;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    margin-left: 70px;
    margin-top: 29px;

    &::before {
        content: '';
        display: block;
        position: absolute;
    }
}

.aims__item-title--lessweight::before  {
    background-image: url(../img/sittingpanter.png);
    background-repeat: no-repeat;
    height: 55px;
    width: 60px;
    left: -68px;
    bottom: -29px;
}

.aims__item-title--moreweight::before  {
    background-image: url(../img/walkingpanter.png);
    background-repeat: no-repeat;
    height: 55px;
    width: 80px;
    left: -77px;
    bottom: -30px;
}

.aims__item-description {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: @var-grey;
    margin-bottom: 9px;
}

.aims__item-link {
    text-decoration: none;
    text-transform: uppercase;
    color: @var-black;
    font-size: 16px;
    line-height: 16px;
    position: relative;
    max-width: 117px;

    &::after {
        content: '';
        position: absolute;
        display: block;
        width: 240px;
        height: 2px;
        background-color:@var-frame-grey;
        top: -22px;
        left: 0px;
    } 

    &::before {
        content: '';
        display: block;
        position: absolute;
        width: 25px;
        height: 12px;
        background-image: url('../img/icon-right-arrow-long.svg');
        background-repeat: no-repeat;
        right: -5px;
        top: 1px;
    }
}


@media(min-width: @tablet-width) {
    .aims {
        justify-content: space-between;
        min-height: 769px;
        min-width: 768px;
        align-items: center;
        box-sizing: border-box;
        padding: 0px 30px 0px 30px;
    }

    .aims__item {
        min-height: 372px;
        padding: 77px 280px 61px 53px;
        margin-top: -5px;
    }

    .aims__item-title {
        font-size: 36px;
        line-height: 37px;
        margin: 0;
        margin-left: 0px;
        margin-bottom: -23px
    }

    .aims__item-title--lessweight::before  {
        background-image: url(../img/sittingpanter.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 212px;
        width: 200px;
        left: 392px;
        top: 3px;
    }

    .aims__item-title--moreweight {
        margin-bottom: -25px;

        &::before  {
        background-image: url(../img/walkingpanter.png);
        background-repeat: no-repeat;
        background-size: 100%;
        height: 212px;
        width: 268px;
        left: 360px;
        top: 13px;
        }
    }

    .aims__item-description {
        font-size: 16px;
        line-height: 24px;
        width: 384px;
        margin-top: 0;

        &--moreweight {
            width: 344px;
        }
    }
    .aims__item-link {
        font-size: 20px;
        line-height: 20px;

        &::after {
            content: '';
            background-color:transparent;
        }

        &::before {
            content: '';
            right: -35px;
            top: 4px;
        }
    }
}

@media(min-width: @desktop-width) {
    .aims {
        flex-direction: row;
        justify-content: space-between;
        min-height: 372px;
        max-width: 1440px;
        margin: 0 auto;
        padding: 78px 110px;
    }

    .aims__item {
        min-height: 372px;
        padding: 81px 56px 60px 52px;
        max-width: 570px;
    }

    .aims__item-title {
        margin-left: 165px;
        margin-bottom: 48px;
    }

    .aims__item-description {
        width: 463px;
    }
    .aims__item-title--lessweight::before  {
        height: 212px;
        width: 100px;
        left: -163px;
        top: -35px;
    }

    .aims__item-title--moreweight::before  {
        height: 100px;
        width: 134px;
        left: -184px;
        top: -30px;
    }
}