.promo {
    display: block;
    min-height: 480px;
    min-width: 320px;
    // background-color:@var-green;
    background-image: 
     url(../img/index-background-mobile@1x.jpg);
    background-repeat: no-repeat;
    text-align: center;
    z-index: 0;
 }
.promo__wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    justify-content: flex-start;
    min-height: 480px;
    min-width: 320px;
    background-image: url(../img/index-can-mobile@1x.png);
    background-repeat: no-repeat;
    background-position: center bottom 45px;
    padding: 25px 20px 0;
}
.promo__title {
  font-size: 36px;
   line-height: 36px;
   font-weight: 400;
   color: @var-white;
   margin: 0;
   margin-bottom: 20px;
   z-index: 1;
}
.promo__description {
  font-size: 14px;
  line-height: 14px;
  color: @var-white;
  text-transform: uppercase;
  z-index: 1;
}
.promo__button {
    margin-top: auto;
    padding: 11px 73px;
}