@import "./blocks/promo.less";
@import "./blocks/button.less";
@import "./blocks/title.less";
@import "./blocks/contacts.less";
@import "./blocks/page-header.less";
@import "./blocks/aims.less";
@import "./blocks/features.less";
@import "./blocks/footer.less";
@import "./blocks/main-catalog.less";
@import "./blocks/example.less";
@import "./blocks/map.less";
@import "./blocks/extra-catalog.less";
@import "./blocks/form.less";
@import "normalize.less";
@import "variables.less";
@import "fonts.less";
@import "visually-hidden.less";


.itemsmall {
  min-width: 161px;
  min-height: 172px;
  margin-top: -80px;
}

.itembig {
  min-width: 195px;
  min-height: 208px;
  margin-top: -115px;
}

body {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  width: 100%;
  color: @var-grey;
  background-color: @var-white;
  position: relative;
}

img {
  max-width: 100%;
  height: auto;
}
