.promo {
  display: block;
  min-height: 480px;
  min-width: 320px;
  background-image: url(../img/index-background-mobile@1x.jpg);
  background-repeat: no-repeat;
  text-align: center;
  z-index: 0;
}
.promo__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  min-height: 480px;
  min-width: 320px;
  background-image: url(../img/index-can-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: center bottom 45px;
  padding: 25px 20px 0;
}
.promo__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
  margin: 0;
  margin-bottom: 20px;
  z-index: 1;
}
.promo__description {
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  z-index: 1;
}
.promo__button {
  margin-top: auto;
  padding: 11px 73px;
}
@media (min-width: 768px) {
  .promo {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    background-image: url(../img/index-can-tablet@1x.jpg);
    background-repeat: no-repeat;
    background-size: 92%;
    background-position: bottom;
    width: 768px;
    min-height: 870px;
    padding: 60px 60px 530px 90px;
  }
  .promo__wrapper {
    justify-content: space-between;
    min-width: 415px;
    min-height: 280px;
    background-image: none;
    padding: 0;
  }
  .promo__title {
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    color: #111111;
    width: 415px;
    text-align: left;
    margin-bottom: 0;
  }
  .promo__description {
    display: inline-block;
    font-size: 20px;
    line-height: 20px;
    color: #111111;
    text-align: left;
  }
  .promo__button {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    padding: 17px 29px 17px 29px;
  }
}
@media (min-width: 1440px) {
  .promo {
    background-image: url(../img/index-background-desktop@1x.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: right;
    width: 1440px;
    min-height: 696px;
    padding: 136px 328px 64px 193px;
    margin-top: -87px;
  }
  .promo__wrapper {
    justify-content: flex-start;
    min-width: 919px;
    min-height: 499px;
    background-image: none;
    padding: 0;
    padding-top: 84px;
    background-image: url(../img/index-can-desktop@1x.png);
    background-size: 60%;
    background-position: right;
  }
  .promo__title {
    margin-bottom: 33px;
  }
  .promo__description {
    margin-bottom: 53px;
  }
}
.button {
  display: inline-block;
  background-color: #68b738;
  color: #ffffff;
  padding: 11px;
  max-width: 280px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  user-select: none;
}
.button:hover,
.button :focus {
  background-color: #5eaa2f;
}
.button:active {
  background-color: #5eaa2f;
  color: rgba(255, 255, 255, 0.3);
}
.button--grey {
  display: inline-block;
  background-color: #f2f2f2;
  color: #444444;
  padding: 11px 40px;
  text-decoration: none;
  text-transform: uppercase;
}
.button--grey:hover,
.button--grey:focus {
  background-color: #ebebeb;
}
.button--grey:active {
  background-color: #ebebeb;
  color: rgba(68, 68, 68, 0.3);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.medium-title {
  color: #111111;
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
}
.small-title {
  color: #111111;
  font-size: 24px;
  line-height: 24px;
  font-weight: 500;
}
.contacts {
  min-width: 320px;
  height: 114px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacts--grey {
  background-color: #f2f2f2;
  min-width: 320px;
  height: 114px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacts__title {
  width: 125px;
  color: #111111;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}
.contacts__title p {
  margin: 0;
  padding: 0;
}
.contacts__adress {
  font-family: Arial, Helvetica, sans-serif;
  width: 135px;
  color: #444444;
  font-size: 14px;
  line-height: 20px;
}
@media (min-width: 768px) {
  .contacts {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    min-width: 768px;
    min-height: 201px;
    padding: 0px 70px;
    margin-top: 61px;
  }
  .contacts__title {
    font-size: 20px;
    line-height: 25px;
    width: 155px;
  }
}
@media (min-width: 1440px) {
  .contacts {
    position: absolute;
    left: 110px;
    top: 95px;
    min-width: 570px;
    min-height: 201px;
    padding: 66px 90px 60px 75px;
    margin: 0;
    background-color: #ffffff;
    z-index: 2;
  }
}
.page-header {
  display: block;
  box-sizing: border-box;
  min-width: 320px;
  min-height: 63px;
  z-index: 1;
  position: relative;
}
.logo-mobile {
  margin-bottom: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
.logo-mobile :hover,
.logo-mobile :focus {
  opacity: 0.8;
}
.logo-mobile :active {
  opacity: 0.6;
}
.logo-tablet {
  display: none;
}
.logo-desktop {
  display: none;
}
.menu {
  border-top: 1px solid #f2f2f2;
}
/* скрываю чекбокс */
#menu__toggle {
  display: none;
}
/* стилизую кнопку */
.menu__btn {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 276px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  z-index: 1;
}
/*"гамбургер" */
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #222222;
}
.menu__btn > span::before {
  content: '';
  top: -7px;
}
.menu__btn > span::after {
  content: '';
  top: 7px;
}
/* контейнер меню */
.menu__box {
  display: none;
  justify-content: space-around;
  flex-direction: column;
  top: 85px;
  left: -20px;
  width: 320px;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
/* элементы меню */
.menu__item {
  display: block;
  box-sizing: border-box;
  height: 65px;
  padding: 18px 24px;
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  flex-grow: 1;
  border-bottom: 1px solid #f2f2f2;
  background-color: #ffffff;
  user-select: none;
}
.menu__item-link {
  text-decoration: none;
  font-weight: 400;
  color: #111111;
}
/* подчеркивание активного элемента */
.menu__item-link--active {
  display: inline-block;
  text-decoration: none;
  color: #111111;
  font-weight: 400;
  border-bottom: 2px solid #68b738;
}
.menu__item:hover > .menu__item-link,
.menu__item:focus > .menu__item-link {
  color: rgba(10, 7, 7, 0.6);
}
.menu__item:active > .menu__item-link {
  color: rgba(17, 17, 17, 0.3);
}
#menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  display: block;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  transition-duration: 0.25s;
}
@media (min-width: 768px) {
  .page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 768px;
    height: 85px;
    padding: 24px 0px 0px 29px;
  }
  .logo-mobile {
    display: none;
  }
  .logo-tablet {
    display: block;
  }
  .logo-desktop {
    display: none;
  }
  .menu {
    border-top: none;
  }
  .menu__btn {
    display: none;
  }
  .menu__box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    box-sizing: border-box;
    min-width: 500px;
    padding-top: 15px;
    z-index: 0;
    flex-grow: 1;
  }
  .menu__item {
    padding: 0;
    border-bottom: none;
    height: inherit;
    padding-bottom: 7px;
  }
  .menu__item-link,
  .menu__item-link--active {
    font-size: 18px;
    line-height: 25px;
    padding-bottom: 7px;
  }
  .button--large {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 0px 17px 0px;
    width: 245px;
  }
}
@media (min-width: 1440px) {
  .page-header {
    min-width: 1440px;
    height: 85px;
    padding: 53px 86px 0px 109px;
  }
  .logo-mobile {
    display: none;
  }
  .logo-tablet {
    display: none;
  }
  .logo-desktop {
    display: block;
  }
  .menu__box {
    background-color: transparent;
  }
  .menu__item {
    background-color: transparent;
  }
  .menu__item-link,
  .menu__item-link--active {
    color: #ffffff;
  }
  .menu__item-link--active {
    border-bottom: 2px solid #ffffff;
  }
  .button--large {
    font-size: 20px;
    line-height: 20px;
    padding: 17px 0px 17px 0px;
    width: 245px;
  }
}
.aims {
  display: flex;
  flex-direction: column;
  list-style: none;
  min-height: 595px;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}
.aims__item {
  display: block;
  position: relative;
  background-color: #f2f2f2;
  min-width: 280px;
  min-height: 266px;
  box-sizing: border-box;
  padding: 20px;
}
.aims__item-title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  margin-left: 70px;
  margin-bottom: 35px;
}
.aims__item-title::before {
  content: '';
  display: block;
  position: absolute;
}
.aims__item-title--lessweight::before {
  background-image: url(../img/sittingpanter.png);
  background-repeat: no-repeat;
  height: 55px;
  width: 60px;
  left: -68px;
  bottom: -10px;
}
.aims__item-title--moreweight::before {
  background-image: url(../img/walkingpanter.png);
  background-repeat: no-repeat;
  height: 55px;
  width: 80px;
  left: -78px;
  bottom: -10px;
}
.aims__item-description {
  width: 225px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  margin-bottom: 45px;
}
.aims__item-link {
  text-decoration: none;
  text-transform: uppercase;
  color: #111111;
  font-size: 16px;
  line-height: 16px;
  position: relative;
}
.aims__item-link::after {
  content: '';
  position: absolute;
  display: block;
  width: 240px;
  height: 2px;
  background-color: #e8e8e8;
  top: -18px;
  left: 0px;
}
.aims__item-link::before {
  content: '';
  display: block;
  position: absolute;
  width: 25px;
  height: 12px;
  background-image: url('../img/icon-right-arrow-long.svg');
  background-repeat: no-repeat;
  right: -40px;
  top: 6px;
}
@media (min-width: 768px) {
  .aims {
    min-height: 780px;
    min-width: 768px;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 20px 0px 20px ;
  }
  .aims__item {
    min-width: 708px;
    min-height: 372px;
    padding: 77px 285px 60px 50px;
  }
  .aims__item-title {
    font-size: 36px;
    line-height: 37px;
    margin: 0;
    margin-left: 0px;
    margin-bottom: 26px;
  }
  .aims__item-title--lessweight::before {
    background-image: url(../img/sittingpanter.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 212px;
    width: 200px;
    left: 400px;
    top: 0;
  }
  .aims__item-title--moreweight::before {
    background-image: url(../img/walkingpanter.png);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 212px;
    width: 268px;
    left: 365px;
    top: 0;
  }
  .aims__item-description {
    font-size: 16px;
    line-height: 24px;
    width: 340px;
  }
  .aims__item-link {
    font-size: 20px;
    line-height: 20px;
  }
  .aims__item-link::after {
    content: '';
    background-color: transparent;
  }
  .aims__item-link::before {
    content: '';
    right: -50px;
    top: 9px;
  }
}
@media (min-width: 1440px) {
  .aims {
    flex-direction: row;
    min-height: 372px;
    min-width: 1440px;
    justify-content: space-between;
    padding: 80px 110px;
  }
  .aims__item {
    min-width: 570px;
    min-height: 372px;
    padding: 81px 56px 60px 52px;
  }
  .aims__item-title {
    margin-left: 165px;
    margin-bottom: 75px;
  }
  .aims__item-description {
    width: 463px;
  }
  .aims__item-title--lessweight::before {
    height: 212px;
    width: 100px;
    left: -163px;
    top: -35px;
  }
  .aims__item-title--moreweight::before {
    height: 100px;
    width: 134px;
    left: -162px;
    top: -30px;
  }
}
.features {
  display: block;
  padding: 0px 20px 40px;
  min-height: 427px;
  box-sizing: border-box;
}
.features__list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  min-height: 300px;
  margin: 0;
  padding: 0;
}
.features__list-item {
  display: flex;
  justify-content: space-between;
  min-height: 60px;
}
.features__title {
  margin: 0px;
  margin-bottom: 35px;
}
.features__list-item-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  width: 195px;
  color: #444444;
  margin: 0;
}
.features__list-item-square {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  position: relative;
}
.features__list-item-square:before {
  content: '';
  display: block;
  position: absolute;
}
.features__list-item-square--leaf {
  background-image: url(../img/advantage-leaf@1x.png);
  background-repeat: no-repeat;
  background-position: 5px;
}
.features__list-item-square--powder {
  background-image: url(../img/advantage-powder@1x.png);
  background-repeat: no-repeat;
  background-position: 5px;
}
.features__list-item-square--dining {
  background-image: url(../img/advantage-dining@1x.png);
  background-repeat: no-repeat;
  background-position: 5px;
}
.features__list-item-square--clock {
  background-image: url(../img/advantage-clock@1x.png);
  background-repeat: no-repeat;
  background-position: 5px;
}
@media (min-width: 768px) {
  .features {
    display: flex;
    flex-direction: column;
    min-width: 768px;
    padding: 50px 30px 50px 30px;
    height: 780px;
    box-sizing: border-box;
  }
  .features__list {
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 605px;
  }
  .features__title {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 60px;
  }
  .features__list-item {
    flex-direction: column;
    justify-content: flex-start;
    width: 354px;
    min-height: 228px;
  }
  .features__list-item-description {
    font-size: 16px;
    line-height: 24px;
    width: 245px;
    margin-top: 35px;
    z-index: 1;
  }
  .features__list-item-square {
    width: 80px;
    height: 80px;
  }
  .features__list-item-square--leaf {
    background-position: 16px;
  }
  .features__list-item-square--leaf:before {
    content: '1';
    font-family: inherit;
    font-size: 281px;
    color: #f2f2f2;
    z-index: 0;
    top: 91px;
    left: 115px;
  }
  .features__list-item-square--powder {
    background-position: 16px;
  }
  .features__list-item-square--powder:before {
    content: '2';
    font-family: inherit;
    font-size: 281px;
    color: #f2f2f2;
    z-index: 0;
    top: 91px;
    left: 115px;
  }
  .features__list-item-square--dining {
    background-position: 16px;
  }
  .features__list-item-square--dining:before {
    content: '3';
    font-family: inherit;
    font-size: 281px;
    color: #f2f2f2;
    z-index: 0;
    top: 91px;
    left: 115px;
  }
  .features__list-item-square--clock {
    background-position: 16px;
  }
  .features__list-item-square--clock:before {
    content: '4';
    font-family: inherit;
    font-size: 281px;
    color: #f2f2f2;
    z-index: 0;
    top: 91px;
    left: 115px;
  }
}
@media (min-width: 1440px) {
  .features {
    min-width: 1440px;
    padding: 0px 112px;
    height: 400px;
  }
  .features__list {
    min-height: 435px;
  }
  .features__list-item {
    width: 240px;
    height: 240px;
  }
}
.page-footer {
  min-height: 236px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  position: relative;
}
.logo--footer {
  display: block;
  min-height: 94px;
  text-align: center;
  box-sizing: border-box;
  padding: 36px 96px 30px;
  position: relative;
}
.social::before {
  content: '';
  position: absolute;
  display: block;
  width: 280px;
  height: 1px;
  background-color: #e8e8e8;
  top: 0;
  left: 20px;
}
.social::after {
  content: '';
  position: absolute;
  display: block;
  width: 280px;
  height: 1px;
  background-color: #e8e8e8;
  bottom: 0;
  left: 20px;
}
.social {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin: 0;
  padding: 20px 102px 20px 93px;
  min-height: 62px;
  list-style: none;
  position: relative;
}
.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;
  box-sizing: border-box;
  padding: 20px;
}
.copyright__name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #444444;
  text-decoration: none;
}
@media (min-width: 768px) {
  .page-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 768px;
    min-height: 150px;
  }
  .logo--footer {
    padding-left: 61px;
  }
  .social {
    padding: 20px 80px 20px 80px;
  }
  .social__item-link {
    margin-right: 30px;
  }
  .social::before {
    content: '';
    background-color: transparent;
  }
  .social::after {
    content: '';
    background-color: transparent;
  }
  .copyright {
    min-width: 207px;
    padding-right: 30px;
  }
  .copyright__name {
    margin-right: 15px;
  }
}
@media (min-width: 1440px) {
  .page-footer {
    padding: 0px 40px;
    min-width: 1440px;
    min-height: 150px;
  }
}
.main-catalog {
  display: block;
}
.main-catalog__list {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.main-catalog__title {
  display: inline-block;
  box-sizing: border-box;
  line-height: 37px;
  padding: 30px 20px 36px;
  margin: 0;
}
.list-item {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  min-height: 210px;
  padding: 25px 20px;
  border-top: 1px solid #e8e8e8;
}
.main-catalog__list-wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
.list-item__description {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #444444;
  min-width: 132px;
  text-align: left;
}
.list-item__description td:last-child {
  display: inline-block;
  min-width: 82px;
  text-align: right;
}
.list-item__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  max-width: 75px;
  margin-bottom: 15px;
}
.list-item__button {
  width: 258px;
  text-align: center;
}
.list-item__image {
  display: block;
  min-width: 140px;
  min-height: 124px;
  background-position: center;
}
.list-item__image--chickensmall {
  background-image: url(../img/chicken-small-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.list-item__image--chickenbig {
  background-image: url(../img/chicken-big-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.list-item__image--fishsmall {
  background-image: url(../img/fish-small-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.list-item__image--fishbig {
  background-image: url(../img/fish-big-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.list-item__image--buckweatsmall {
  background-image: url(../img/buckwheat-small-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.list-item__image--buckweatbig {
  background-image: url(../img/buckwheat-big-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.list-item__image--ricesmall {
  background-image: url(../img/rice-small-mobile@1x.jpg);
  background-repeat: no-repeat;
}
.main-catalog__more {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 210px;
  border-top: 1px solid #f2f2f2;
  border-bottom: 1px solid #f2f2f2;
  padding: 80px 20px 25px;
  box-sizing: border-box;
}
.main-catalog__more-title {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  font-family: 'Oswald';
  color: #111111;
  margin: 0;
  text-transform: uppercase;
  position: relative;
}
.main-catalog__more-title::before {
  content: '';
  display: block;
  position: absolute;
  width: 31px;
  height: 31px;
  background-image: url(../img/icon-plus-mobile.svg);
  opacity: 0.2;
  top: -55px;
  left: 45%;
}
.main-catalog__more-description {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: 16px;
  color: #444444;
}
.main-catalog__more-button {
  min-width: 200px;
  text-align: center;
}
@media (min-width: 768px) {
  .main-catalog__list {
    flex-direction: row;
    min-width: 768px;
    justify-content: space-around;
  }
  .main-catalog__title {
    font-size: 60px;
    line-height: 60px;
    width: 480px;
    padding-left: 30px;
  }
  .list-item {
    flex-direction: column;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    width: 324px;
    min-height: 431px;
    padding: 38px 38px;
    background-color: #f2f2f2;
    border: transparent;
  }
  .list-item__title {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500px;
    max-width: 128px;
    text-align: center;
    margin-bottom: 15px;
  }
  .main-catalog__list-wrapper {
    width: 250px;
    align-items: center;
  }
  .list-item__description {
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 16px;
    width: 250px;
    text-align: center;
  }
  .list-item__description td {
    text-align: left;
    padding-bottom: 5px;
    border-bottom: 1px solid #e8e8e8;
  }
  .list-item__description td:nth-child(2n) {
    text-align: right;
    width: 190px;
  }
  .list-item__button {
    align-self: end;
    width: 225px;
  }
}
.example {
  background-color: #f2f2f2;
  min-height: 705px;
  box-sizing: border-box;
  padding: 33px 20px;
}
.example__title {
  font-weight: 400;
  line-height: 36px;
  margin: 0;
  margin-bottom: 33px;
}
.example__description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  max-width: 266px;
}
.benefit-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}
.benefit-list__item {
  min-width: 124px;
  min-height: 56px;
  border-radius: 3px;
  border: solid 1px #cdcdcd;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  margin-bottom: 25px;
  padding: 13px 23px;
}
.benefit-list__item-title {
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
  color: #111111;
}
.benefit-list__item-description {
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 70px;
  font-size: 12px;
  line-height: 12px;
  background-color: #f2f2f2;
  position: absolute;
  bottom: -15px;
  left: 23%;
}
.example__cost {
  text-transform: uppercase;
  font-size: 14px;
  margin-left: 45px;
  font-weight: 400;
  margin-bottom: 44px;
}
.example__slider {
  display: block;
  min-height: 320px;
  position: relative;
}
.slider-list {
  list-style: none;
  margin: 0;
  padding: 0;
  min-height: 235px;
  position: relative;
}
.slider-list__item {
  min-height: 235px;
  width: 100%;
  margin-bottom: 35px;
}
.slider-list__item--before {
  background-image: url('../img/before-mobile@1x.png');
  background-position: center;
  background-repeat: no-repeat;
}
.slider-list__item--after {
  display: none;
  background-image: url('../img/after-mobile@1x.png');
  background-position: center;
  background-repeat: no-repeat;
}
.example__slider-controls {
  display: flex;
  width: 100%;
  justify-content: center;
}
.example__slider-controls--before {
  text-transform: uppercase;
  font-size: 16px;
  color: #111111;
}
.example__slider-controls--after {
  text-transform: uppercase;
  font-size: 16px;
  color: #111111;
}
.example__slider-controls-scale {
  display: block;
  width: 84px;
  height: 14px;
  border-radius: 6px;
  padding: 3px;
  box-sizing: border-box;
  border: solid 1px #cdcdcd;
  background-color: #ffffff;
  margin-left: 18px;
  margin-right: 18px;
  margin-top: 3px;
  position: relative;
}
.example__slider-controls-scalescroll {
  display: block;
  width: 35px;
  height: 6px;
  border-radius: 3px;
  background-color: #68b738;
}
.go-left {
  animation-name: go-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes go-left {
  from {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(45px);
  }
}
.go-right {
  animation-name: go-right;
  animation-duration: 1s;
}
@keyframes go-right {
  from {
    transform: translateX(45px);
  }
  100% {
    transform: translateX(0px);
  }
}
@media (min-width: 768px) {
  .example {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    min-height: 987px;
    min-width: 768px;
    padding: 0;
  }
  .example-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    box-sizing: border-box;
    border-top: 1px solid #e8e8e8;
    padding: 50px 30px 70px 30px;
  }
  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin: 0;
    margin-bottom: 60px;
  }
  .example__description {
    font-size: 16px;
    line-height: 24px;
    max-width: 676px;
    margin-bottom: 50px;
  }
  .benefit-list__item {
    min-width: 162px;
    min-height: 72px;
    padding: 22px 40px;
    margin: 0;
  }
  .benefit-list__item-description {
    max-width: 145px;
    font-size: 14px;
    line-height: 14px;
    bottom: -10px;
    left: 15%;
    background-color: #ffffff;
    border: 5px solid white;
  }
  .benefit-list__item-description--right {
    left: 9%;
  }
  .benefit-list {
    width: 380px;
  }
  .example__cost {
    display: inline-block;
    text-transform: uppercase;
    text-align: right;
    font-size: 20px;
    line-height: 20px;
    width: 175px;
    color: #111111;
    margin: 0;
  }
  .example-wrap--small {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .example__slider-controls-scale {
    display: block;
    width: 428px;
    height: 6px;
    border-radius: 2.5px;
    padding: 3px;
    box-sizing: border-box;
    border: none;
    background-color: #dcdcdc;
  }
  .example__slider-controls-scalescroll {
    width: 34px;
    height: 34px;
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: solid 1px #cdcdcd;
    border-radius: 50%;
    background-color: #ffffff;
    position: relative;
    margin-top: -17px;
    margin-left: 44%;
  }
  .example__slider-controls-scalescroll:before {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #68b738;
    border-radius: 50%;
    border: solid 1px #cdcdcd;
    top: 36%;
    left: 35%;
  }
  .example__slider-controls--before,
  .example__slider-controls--after {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #dcdcdc;
    margin-top: -7px;
    z-index: 1;
  }
  .slider-list__item {
    min-height: 517px;
    margin-bottom: 35px;
    width: 100%;
    padding: 0px 45px;
    box-sizing: border-box;
  }
  .slider-list__item--before {
    background-image: url('../img/before-tablet@1x.png');
    z-index: 1;
  }
  .slider-list__item--after {
    background-image: url('../img/after-tablet@1x.png');
    z-index: 1;
  }
  .example__slider-background {
    display: block;
    height: 462px;
    width: 100%;
    position: absolute;
    background-color: #eaeaea;
    top: 170px;
    left: 0;
    z-index: 0;
  }
}
@media (min-width: 1440px) {
  .example {
    display: flex;
    flex-direction: row;
    min-height: 632px;
    min-width: 1440px;
    justify-content: space-around;
    padding-left: 80px;
  }
  .example-wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: transparent;
    border-top: 1px solid transparent;
    flex-wrap: wrap;
    height: 560px;
    width: 435px;
    padding: 0;
    z-index: 1;
  }
  .example-wrap--small {
    flex-direction: column;
    width: 435px;
    align-items: flex-start;
  }
  .example__description {
    max-width: 435px;
  }
  .benefit-list {
    width: 366px;
    margin-bottom: 55px;
  }
  .example__cost {
    display: flex;
    justify-content: space-between;
    width: 330px;
  }
  .slider-list__item {
    width: 730px;
  }
  .example__slider-background {
    width: 1440px;
    left: -663px;
    z-index: 0;
  }
  .example__slider {
    height: 600px;
  }
  .example__title {
    margin-bottom: 80px;
  }
  .benefit-list__item {
    min-width: 162px;
    min-height: 72px;
    padding: 22px 40px;
    margin: 0;
  }
  .benefit-list__item-description {
    max-width: 145px;
    font-size: 14px;
    line-height: 14px;
    bottom: -10px;
    left: 15%;
    background-color: #eaeaea;
    border: 5px solid #eaeaea;
  }
  .benefit-list__item-description--right {
    left: 12%;
  }
  .benefit-list__item-title {
    font-size: 30px;
    line-height: 30px;
  }
}
.map {
  position: relative;
}
.map__treasure {
  display: block;
  min-width: 320px;
  min-height: 400px;
  background-image: url('../img/bg-map-mobile@1x.png');
  background-repeat: no-repeat;
  position: relative;
  z-index: 1;
}
.map__treasure-pin {
  display: block;
  position: absolute;
  width: 55px;
  height: 55px;
  background-image: url('../img/map-pin.png');
  background-size: 65px 55px;
  bottom: 170px;
  right: 140px;
}
@media (min-width: 768px) {
  .map__treasure {
    min-width: 767px;
    min-height: 400px;
    background-image: url('../img/bg-map-tablet@1x.png');
  }
  .map__treasure-pin {
    width: 113px;
    height: 106px;
    background-repeat: no-repeat;
    background-size: cover;
    bottom: 144px;
    right: 330px;
  }
}
@media (min-width: 1440px) {
  .map__treasure {
    min-width: 1440px;
    min-height: 400px;
    background-image: url('../img/bg-map-desktop@1x.png');
  }
}
.extra-catalog__title {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 30px 19px;
  min-height: 86px;
  min-width: 320px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  color: #111111;
}
.extra-catalog__title::before {
  content: '';
  display: block;
  position: absolute;
  width: 53px;
  height: 3px;
  background-color: #68b738;
  right: 0px;
  top: 52%;
}
.extra-catalog__list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}
.extra-catalog__item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  min-height: 128px;
  box-sizing: border-box;
  padding: 15px 20px;
}
.extra-catalog__item::after {
  content: '';
  display: block;
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: #f2f2f2;
  top: 0;
  left: 20;
}
.extra-catalog__item-title {
  display: inline-block;
  text-transform: uppercase;
  margin-top: 0;
  font-size: 16px;
}
.extra-catalog__item-wraper {
  display: flex;
  min-width: 280px;
  justify-content: space-between;
}
.extra-catalog__item-description {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #444444;
  margin-bottom: 14px;
}
.extra-catalog__list-item-button {
  text-align: center;
}
.stock {
  display: block;
  height: 360px;
  box-sizing: border-box;
  position: relative;
  padding: 39px 20px 32px 20px;
}
.stock::after {
  content: '';
  display: block;
  position: absolute;
  width: 280px;
  height: 1px;
  background-color: #f2f2f2;
  top: 0;
  left: 20;
}
.stock__description {
  display: block;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  min-width: 280px;
  min-height: 289px;
  margin: 0;
  background-image: url(../img/gift-photo-mobile@1x.jpg);
  background-repeat: no-repeat;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 16px;
  line-height: 20px;
  padding: 190px 60px 40px 60px;
}
.stock__description::before {
  content: '';
  display: block;
  position: absolute;
  width: 56px;
  height: 61px;
  background-image: url('../img/gift.png');
  background-repeat: no-repeat;
  bottom: 55%;
  left: 40%;
}
.stock__description-text {
  display: inline-block;
  width: 161px;
}
input[placeholder],
textarea[placeholder] {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
}
.form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 30px 20px 20px;
}
.form__title {
  display: inline-block;
  line-height: 0;
  margin-top: 15px;
  margin-bottom: 35px;
}
.form__description {
  max-width: 226px;
  text-transform: uppercase;
  margin-bottom: 35px;
}
.form__text-wraper {
  display: flex;
  flex-direction: column;
  min-height: 190px;
}
.form__label-text {
  display: flex;
  align-items: center;
  position: relative;
  min-width: 280px;
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 15px;
  cursor: pointer;
}
.form__text-input {
  display: inline-block;
  box-sizing: border-box;
  position: relative;
  padding: 15px;
  margin-left: 15px;
  height: 45px;
  border: 1px solid #cdcdcd;
  width: 100%;
}
.form__text-input:active {
  border: 1px solid #111111;
}
.form__text-input:hover {
  border: 1px solid #444444;
}
.form__text-input:invalid {
  border: 1px solid #ff8282;
}
.form__radio-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 158px;
  box-sizing: border-box;
  padding: 20px 0px 20px 0px ;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
}
.form__label-radio {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  margin-left: 45px;
  position: relative;
  cursor: pointer;
}
.form__radio-box {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../img/radiobutton.png);
  background-repeat: no-repeat;
  left: -45px;
  top: -7px;
}
.form__radio-input:checked + .form__radio-box {
  width: 30px;
  height: 30px;
  background-image: url(../img/radiobutton-checked.png);
  background-repeat: no-repeat;
}
.form__contacts {
  display: inline-block;
  max-width: 181px;
  position: relative;
  margin: 0;
  margin-top: 30px;
  margin-bottom: 30px;
}
.form__contacts::before {
  content: '';
  position: absolute;
  display: block;
  width: 80px;
  height: 3px;
  background-color: #68b738;
  top: 14px;
  right: -120px;
}
.form__text--email::before {
  content: '';
  display: block;
  position: absolute;
  top: 15px;
  right: 15px;
  width: 18px;
  height: 14px;
  background-image: url('../img/mail.svg');
}
.form__text--phone::before {
  content: '';
  display: block;
  position: absolute;
  top: 13px;
  right: 15px;
  width: 21px;
  height: 21px;
  background-image: url('../img/phone.svg');
}
.form__comments {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
}
.form__comments::before {
  content: '';
  position: absolute;
  display: block;
  width: 99px;
  height: 3px;
  background-color: #68b738;
  top: 14px;
  right: -20px;
}
.form__textarea {
  resize: none;
  border: 1px solid #cdcdcd;
  box-sizing: border-box;
  padding: 13px;
}
.form__textarea:active {
  border: 1px solid #111111;
}
.form__textarea:hover {
  border: 1px solid #444444;
}
.form__textarea:invalid {
  border: 1px solid #ff8282;
}
.form__additional {
  display: inline-block;
  margin-top: 30px;
  margin-bottom: 40px;
  position: relative;
}
.form__additional::before {
  content: '';
  position: absolute;
  display: block;
  width: 136px;
  height: 3px;
  background-color: #68b738;
  top: 14px;
  right: -20px;
}
.checkbox-wraper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 160px;
  margin-bottom: 40px;
}
.form__label-checkbox {
  font-size: 16px;
  line-height: 18px;
  color: #222222;
  text-transform: uppercase;
  margin-left: 45px;
  position: relative;
  cursor: pointer;
}
.form__check-box {
  position: absolute;
  width: 30px;
  height: 30px;
  background-image: url(../img/checkbox.png);
  background-repeat: no-repeat;
  left: -45px;
  top: -7px;
}
.form__checkbox-input:checked + .form__check-box {
  width: 30px;
  height: 30px;
  background-image: url(../img/checkbox-checked.png);
  background-repeat: no-repeat;
}
.form__button {
  border: none;
  outline: none;
  font-family: inherit;
  margin-bottom: 20px;
}
.form__required {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #444444;
  margin-bottom: 14px;
}
@font-face {
  font-family: 'Oswald';
  src: url('../source/fonts/oswaldregular.woff') format('woff') url('../source/fonts/oswaldregular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Oswald';
  src: url('../source/fonts/oswaldmedium.woff') format('woff') url('../source/fonts/oswaldmedium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
body {
  font-family: 'Oswald', 'Arial', sans-serif;
  width: 320px;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  background-color: #ffffff;
  position: relative;
}
img {
  max-width: 100%;
  height: auto;
}
